[submodule "3rd/QDarkStyleSheet"]
	path = 3rd/QDarkStyleSheet
	url = https://github.com/ColinDuquesnoy/QDarkStyleSheet.git
[submodule "3rd/QtAwesome"]
	path = 3rd/QtAwesome
	url=https://github.com/israelins85/QtAwesome.git
